<h2>Edit</h2>


<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this @task from being saved:</h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @task, local: true, url: task_path) do |form| %>


  <%= form.label :name %><br>
  <%= form.text_field :name %><br>  
<br>
  <%= form.label :content %><br>
  <%= form.text_area :content %><br>
<br>
<%= form.datetime_local_field :limit %><br>  
<br>
<%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %><br>
<br>
<%= form.select :priority, [["低", "低"], ["中", "中"], ["高", "高"]], include_blank: "選択して下さい" %><br>
<br>
<div class="label_class"><%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %></div>
<br>
<br>
  <%= form.submit "編集する"%>

<% end %>

<%= link_to t('.back'), tasks_path %>