

<% @tasks.each do |task| %>
<h4 class="task_row"><%= t('activerecord.attributes.task.name') %>:<%= task.name %></h4>
<p><%= t('activerecord.attributes.task.content') %>:<%= task.content %></p>

<p><%= link_to 'show', task_path(task.id) %></p>
<p><%= link_to 'edit', edit_task_path(task.id) %></p>
<p><%= link_to 'destroy', task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<p><%= link_to t('contents.index.new'), new_task_path %></p>




