
<% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header.other", model: Task, count: @task.errors.count) %></h2>

      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with(model: @task, local: true) do |form| %>


  <%= form.label :name %><br>
  <%= form.text_field :name %><br>  
  <br>
  <%= form.label :content %><br>
  <%= form.text_area :content %><br>
  <br>
  <%= form.label :limit %><br>
  <%= form.datetime_local_field :limit %><br>  
  <br>
  <%= form.label :status %><br>
  <%= form.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %><br>
  <br>
  <%= form.label :priority %><br>
  <%= form.select :priority, [["低", 0], ["中", 1], ["高", 2]], include_blank: "選択して下さい" %><br>
  <br>
  <%= form.submit "登録する"%>

<% end %>

<%= link_to t('.back'), tasks_path %>