
<h3><%= @task.name %></h3>
<p><%= @task.content %></p>
<p><%= @task.ja_limit if @task.limit%></p>
<p><%= @task.status %></p>
<% pr=["低", "中", "高"] %>
<p><%= pr[@task.priority] if @task.priority%></p>
<p>
  <% @task.labels.each do |label| %>
    <label style="background-color: aquamarine"><%= label.name %></label>
  <% end %>
</p>

<%= link_to t('.back'), tasks_path %>

<% if current_user.admin %>
  <%= link_to "ユーザー管理", admin_users_path  %>
<% end %>